<aside class="{{ getStyles() }}">
    <div class="mdc-drawer__header user-info-container">
        <div class="user-label">
            Welcome, <span id="user-id">{{getUserName()}}</span>
        </div>
        <app-login></app-login>
    </div>
    <hr class="mdc-list-divider">
    <div class="mdc-drawer__content">
        <div class="mdc-list">
            <app-menuitem class="clear-outline"
                          *ngFor="let entry of visibleEntries"
                          [icon]="entry.icon" [label]="entry.label"
                          [routerLink]="entry.url">
            </app-menuitem>
        </div>
    </div>
</aside>