.mdc-drawer {
  z-index: 19;
  position: relative;
}

.open {
  display: flex;
}

.center {
  text-align: center;
}

.user-info-container {
  @extend .center;
  margin-bottom: 10px;
}

.user-image {
  display: block;
  border-radius: 100%;
  max-width: 150px;
  margin: 0 auto;
}

.user-label {
  margin: 10px auto 0 auto;
}

.login {
  margin-left: 3px;
}

.clear-outline:focus {
  outline: none;
}

// only apply this style if below top app bar
//.mdc-top-app-bar {
//  z-index: 7;
//}