<div id="organismComparisonForm">

    <!-- TODO Adapt form to show the form fields -->
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
        <div class="first-section">
            <h2 class="section-header">Experiment data</h2>
            <div class="fieldset-row">
                <!-- Maybe organisms and pathway should be selectors -->
                <mdc-text-field class="row-item" label="Name"
                                formControlName="experimentName">
                </mdc-text-field>

                <mdc-text-field class="row-item" label="Pathway"
                                formControlName="pathwayCode">
                </mdc-text-field>
            </div>
            <div class="fieldset-row">
                <mdc-textarea class="row-item" label="Description"
                              formControlName="experimentDescription">
                </mdc-textarea>
            </div>
        </div>
        <div class="section">
            <h2 class="section-header">Classification data</h2>
            <div class="fieldset-column">
                <div class="fieldset-row">

                    <file-uploader
                            class="row-item"
                            name="Groups"
                            helperText="Click in this area or drop a file to bind groups to this experiment"
                            (onFileLoaded)="onGroupFilesAdded($event)"
                    ></file-uploader>
                </div>
            </div>
        </div>
        <button mdc-button raised
                style="position: fixed; bottom: 5%; right: 2%;"
                aria-label="Submit experiment"
                type="submit"
                [disabled]="!form.valid">
            Submit
        </button>
    </form>
</div>