.headed-container:focus {
  outline: none;
}

.headed-container:focus .contributors-container {
  outline: none;
}


.contributors-container {
  overflow-y: hidden;

  transition-property: max-height;
  transition-duration: 0.2s;
}
