#header {
  width: 100%;
  background-color: #222;
  display: inline-flex;
}

#header-text {
  color: #9d9d9d;
  font-size: 1.3em;

  // This keeps the header more or less centered
  width: 57%;

  // Center vertically
  align-self: center;
  text-align: center;
}

#header-icon {

  // Just use the 13 percent of the header width
  width: 14%;
  min-width: 200px;
  margin-left: 1%;


  img {
    // Fill the whole wrapper
    width:100%;
  }
}

$button-size: 40;

.menu-button {
  margin: auto 2%;
  min-width: $button-size + px;
  width: $button-size + px;
  height: $button-size + px;
  border-radius: 5px;
}
