<div id="header">
  <button mdc-button raised class="mdc-fab menu-button" aria-label="menu"
          (click)="menuButtonClicked()">
    <i class="mdc-fab__icon material-icons">menu</i>
  </button>
  <div id="header-icon">
    <a href="https://www.uib.eu/" target="_blank">
      <img src="static/img/logo-uib-horizontal-40anys-white.svg" alt="uib logo">
    </a>
  </div>
  <div id="header-text">
    <span>Metabolomics Analysis: Finding Out Metabolic Building Blocks</span>
  </div>
</div>