<div id="footer">
    <hr>
    <span class="footer-text">
        This work has been partially supported by the Spanish government through project <b>DPI2015-67082-P</b>, and the Programa Pont La Caixa per a grups de recerca de la UIB.
    </span>
</div>
