<div id="experimentComparisonForm">

    <!-- TODO Adapt form to show the form fields -->
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
        <div class="first-section">
            <h2 class="section-header">Experiment data</h2>
            <div class="fieldset-row">
                <mdc-text-field class="row-item" label="Name"
                                formControlName="pathwayCode">
                </mdc-text-field>
                <mdc-text-field class="row-item" label="Categorization name"
                                formControlName="pathwayCode">
                </mdc-text-field>
            </div>
            <div class="fieldset-row">
                <mdc-textarea class="row-item" label="Description"
                              formControlName="experimentDescription">
                </mdc-textarea>
            </div>

            <div class="section">
                <h2 class="section-header">Experiment options </h2>
                <div class="fieldset-row">
                    <div class="row-item">
                        <div class="row-item">
                            <mdc-checkbox
                                    class="custom-checkbox"></mdc-checkbox>
                            <label class="checkbox--label">
                                Group by kingdom
                            </label>
                        </div>

                        <div class="row-item">
                            <mdc-checkbox
                                    class="custom-checkbox"></mdc-checkbox>
                            <label class="checkbox--label">
                                Group by phylum
                            </label>
                        </div>

                        <div class="row-item">
                            <mdc-checkbox
                                    class="custom-checkbox"></mdc-checkbox>
                            <label class="checkbox--label">
                                Group by class
                            </label>
                        </div>

                    </div>

                    <div class="row-item">
                        <div class="row-item">
                            <mdc-checkbox
                                    class="custom-checkbox"></mdc-checkbox>
                            <label class="checkbox--label">
                                Calculate block distances
                            </label>
                        </div>

                        <div class="row-item">
                            <mdc-checkbox
                                    class="custom-checkbox"></mdc-checkbox>
                            <label class="checkbox--label">
                                Measure block similarities
                            </label>
                        </div>

                    </div>
                    <div class="row-item">
                        <div class="row-item">
                            <mdc-checkbox
                                    class="custom-checkbox"></mdc-checkbox>
                            <label class="checkbox--label">
                                Use all the species pathways
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="section">
                <h2 class="section-header">Organisms data</h2>
                <div class="fieldset-row">
                    <file-uploader
                            class="row-item"
                            name="Organisms file"
                            helperText="Click in this area or drop files to load it"
                            (onFileLoaded)="onGroupFilesAdded($event)"
                    ></file-uploader>
                    <file-uploader
                            class="row-item"
                            name="Organism grouping"
                            helperText="Click in this area or drop files to load a file"
                            (onFileLoaded)="onGroupFilesAdded($event)"
                    ></file-uploader>
                </div>
            </div>

            <div class="section">
                <h2 class="section-header">Additional data</h2>
                <div class="fieldset-row">
                    <file-uploader
                            class="row-item"
                            name="Exceptions list"
                            helperText="Click in this area or drop files to load an exceptions list"
                            (onFileLoaded)="onGroupFilesAdded($event)"
                    ></file-uploader>
                    <file-uploader
                            class="row-item"
                            name="Genes file"
                            helperText="Click in this area or drop a file to bind groups to this experiment"
                            (onFileLoaded)="onGroupFilesAdded($event)"
                    ></file-uploader>
                </div>
            </div>
        </div>
        <!--        <div class="section">-->
        <!--            <h2 class="section-header">Experiment classification data</h2>-->
        <!--            <div class="fieldset-column">-->
        <!--                <div class="fieldset-row">-->

        <!--                    <file-uploader-->
        <!--                            class="row-item"-->
        <!--                            name="Organism Classification"-->
        <!--                            helperText="Click in this area or drop a file to classify the organism"-->
        <!--                            (onFileLoaded)="onExperimentClassificationFilesAdded($event)"-->
        <!--                    ></file-uploader>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <button mdc-button raised
                style="position: fixed; bottom: 5%; right: 2%;"
                aria-label="Submit experiment"
                type="submit"
                [disabled]="!form.valid">
            Submit
        </button>
    </form>
</div>