@import "../../materialvars";

.storage-item {
  margin: 10px 0;
  display: block;

}

.storage-container {
  display: flex;
  flex-direction: row;

  & .results {
    overflow-y: auto;
    height: 65.5vh;
    max-height: 65.5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  & .main-container {
    flex: 4 0;
  }

  & #details-container {
    max-width: 32%;
    min-width: 32%;
    margin: 0 10px;
    flex: 1 0;

    & .detail-header {
      text-align: center;
    }

    & .content-title {
      margin-bottom: 0;
      margin-top: 35px;
    }

    & .content-body {
      display: flex;
      flex-direction: column;

      & .element {
        flex: 1;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      & .row {
        display: flex;
        flex-direction: row;

        & .first-element {
          @extend .element;
          margin-right: 10px;
        }

        & .last-element {
          @extend .element;
          margin-left: 10px;
        }
      }
    }
  }

  & .storage-common-styles {
    margin: 1px 10px;

    & .filters {
      margin-bottom: 10px;
    }
  }
}


.actions {
  list-style-type: none;
  padding-inline-start: 10px;
  display: inline-flex;

  & li {
    &:hover {
      cursor: pointer;
      user-select: none;
      &.action-item {
        & i {
          color: $mdc-theme-primary;
        }
      }

      &.action-item.delete {
         & i {
           // Redish color. Pure red color is not enough for AA web pages
           // when its background color is white.
          color: #DC0000;
        }
      }
    }

    &.action-item {
      margin: 0 5px;

      & i {
        font-size: 20px;
      }
    }
  }
}

.float-right {
  float: right;
}

.actions-container {
  display: inline-flex;
  overflow: hidden;

  &:after {
    clear: both;
  }

  & ul {
    margin-block-end: 0;
  }
}

.text-wrapper {
  display: inline-flex;
  max-width: 76%;
}

.details-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


div.line-container {
  text-align: center;

  & div.line {
    border-bottom: solid 1px black;
    width: 90%;
    display: inline-block;
  }
}


// Date list styles
.content-body-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 5px;
}


.details-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 79.5vh;
}


.list-zone {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
}

.section-header {
  position: relative;

  height: auto;
  border-bottom: solid 1px #dddddd;
}

$add-button-size: 40px;
.result-header-container {
  position: relative;

  & .add-button {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 35px;
    width: $add-button-size;
    height: $add-button-size;
    background-color: $mdc-theme-primary;

    & .icon {
      color: white;
    }
  }
}

.undecorated-list {
  list-style: none;
  padding-inline-start: 0;

  &.horizontal-list {
    display: flex;
    flex-wrap: wrap;

    & li {
      display: inline;
      margin: 3px 5px;
      padding: 5px;
      background-color: $mdc-theme-secondary;
      border-radius: 4px;
    }

  }
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;

}

// Filter styles

.filtering-fields {
  display: flex;
  flex-direction: row;
}

.filter-field {
  flex: 1;
  margin: 2px 5px;
}

.mdc-text-field-custom {
  height: 40px;
}

.filter-button {
  flex: 0;
  margin: 5px 5px;
}

.huge-vertically-spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;

  & .submit-button {
    max-width: 100px;
  }
}