<div class="storage-container">
    <div class="main-container" (click)="clearSelection()">
        <div class="filters storage-common-styles">
            <h2 id="filters-header" class="section-header">Filters</h2>
            <div class="filtering-fields">
                <mdc-text-field class="filter-field"
                                placeholder="Organism"
                                [(ngModel)]="organismsFilter">
                </mdc-text-field>
                <mdc-text-field class="filter-field"
                                placeholder="Organism classification"
                                [(ngModel)]="organismsClassificationFilter">
                </mdc-text-field>
                <mdc-text-field class="filter-field"
                                placeholder="Owner"
                                [(ngModel)]="owner">
                </mdc-text-field>
                <mdc-text-field class="filter-field"
                                placeholder="Experiment group"
                                [(ngModel)]="experimentGroupsFilter">
                </mdc-text-field>
            </div>
            <div style="display: flex;flex-direction: row;justify-content:
                flex-end">
                <button class="filter-button" mdc-button primary
                        (click)="clearFilters()">
                    Clear
                </button>
                <button class="filter-button" mdc-button primary
                        (click)="filterResults()">
                    Filter
                </button>

            </div>
        </div>
        <div class="list-zone">
            <div class="result-header-container">
                <h2 id="result-header" class="section-header">Results</h2>
                <button mdc-fab class="add-button"
                        aria-label="Add experiment"
                        *ngIf="canCreateExperiment()"
                        [routerLink]="['create']">
                    <i class="material-icons icon">add</i>
                </button>
            </div>
            <div class="results">
                <app-storageitem class="storage-item"
                                 *ngFor="let item of getItems()"
                                 [experiment]="item"
                                 (click)="openDetails($event, item)">
                </app-storageitem>
            </div>
        </div>
    </div>
    <div id="details-container" [hidden]="!getSelectedExperiment()"
         *ngIf="getSelectedExperiment()">
        <div class="detail-header">
            <div class="text-wrapper">
                <h2 class="details-header">
                    {{getSelectedExperiment().name}}
                </h2>
            </div>
            <div class="actions-container">
                <div class="content-body">
                    <ul class="actions">
                        <li class="action-item">
                            <i class="material-icons"
                               (click)="openExperimentGraph()">open_in_new
                            </i>
                        </li>
                        <li class="action-item">
                            <i class="material-icons"
                               (click)="downloadContent()">cloud_download</i>
                        </li>
                        <li class="action-item delete">
                            <i class="material-icons"
                               *ngIf="canDeleteExperiment()"
                               (click)="deleteExperiment()">delete</i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="line-container">
            <div class="line"></div>
        </div>

        <div class="details-body">
            <div class="detail-container">
                <h2 class="content-title">Basic Information</h2>
                <div class="content-body">

                    <div class="row">
                        <mdc-text-field class="first-element"
                                        label="Creation" readonly="1"
                                        type="date"
                                        [ngModel]="getSelectedExperiment().getCreationDateInMaterialFormat()">
                        </mdc-text-field>
                        <mdc-text-field class="element"
                                        label="Modification" readonly="1"
                                        type="date"
                                        [ngModel]="getSelectedExperiment().getModificationDateInMaterialFormat()">
                        </mdc-text-field>

                    </div>
                    <div class="row">
                        <mdc-text-field class="first-element" readonly="1"
                                        label="Status"
                                        [ngModel]="getSelectedExperiment().status">
                        </mdc-text-field>
                        <mdc-select class="last-element"
                                    placeholder="Visibility"
                                    [(ngModel)]="getSelectedExperiment().public">
                            <mdc-menu class="filter-field">
                                <mdc-list class="filter-field">
                                    <mdc-list-item value="pu">
                                        Public
                                    </mdc-list-item>
                                    <mdc-list-item value="pr">
                                        Private
                                    </mdc-list-item>
                                </mdc-list>
                            </mdc-menu>
                        </mdc-select>
                    </div>

                    <mdc-text-field class="element" label="Name"
                                    [(ngModel)]="getSelectedExperiment().name">
                    </mdc-text-field>
                    <mdc-textarea class="element" label="Description"
                                  [(ngModel)]="getSelectedExperiment().description">
                    </mdc-textarea>

                </div>
            </div>

            <div class="detail-container">
                <h2 class="content-title">Experiment groups</h2>
                <div class="content-body">

                    <ul class="undecorated-list horizontal-list">
                    </ul>
                    <file-uploader
                            name="Groups"
                            helperText="Add additional groups"
                    ></file-uploader>

                </div>
            </div>

            <div class="buttons-container huge-vertically-spaced">
                <button class="submit-button" mdc-button primary
                        (click)="saveExperiment()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>