.item {
  text-align: center;
  margin: 10px 15px;
  align-self: center;
  display: inline-block;
}

.item-text {
  display: block;
  max-width: 120px;

  // Keep the text under control.
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.file-options {
  list-style-type: none;
  padding-inline-start: 0;

  border-top: solid 1px black;
  padding-top: 5px;
  line-height: 1.5em;

  & li {
    &:hover {
      text-shadow: 0 0 1px black;
      cursor: pointer;
      user-select: none;
    }
  }
}