<div id="experimentComparisonForm">

    <!-- TODO Adapt form to show the form fields -->
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
        <div class="first-section">
            <h2 class="section-header">Experiment data</h2>
            <div class="fieldset-row">
                <!-- Maybe organisms and pathway should be selectors -->
                <mdc-text-field class="row-item" label="Name"
                                formControlName="experimentName">
                </mdc-text-field>
            </div>
            <div class="fieldset-row">
                <mdc-textarea class="row-item" label="Description"
                              formControlName="experimentDescription">
                </mdc-textarea>
            </div>

            <div class="fieldset-row">

                <file-uploader
                        formControlName="experimentFiles"
                        class="row-item"
                        name="Experiments list file"
                        helperText="Click in this area or drop a file to upload the expriments file"
                        (onFileLoaded)="onExperimentClassificationFilesAdded($event)"
                ></file-uploader>
            </div>
        </div>
        <div class="Section">
            <h2 class="section-header">Experiment options</h2>
            <div class="fieldset-row">
                <div class="row-item">
                    <mdc-checkbox class="custom-checkbox"
                                  formControlName="measureSimilarities">
                    </mdc-checkbox>
                    <label class="checkbox--label">
                        Measure similarities between the blocks of
                        the experiments
                    </label>
                </div>
                <div class="row-item">
                    <mdc-checkbox class="custom-checkbox"
                                  formControlName="useAllThePathways">
                    </mdc-checkbox>
                    <label class="checkbox--label">
                        Use all the species pathways
                    </label>
                </div>

                <div class="row-item">
                    <mdc-checkbox class="custom-checkbox"
                                  formControlName="generateMDagFiles">
                    </mdc-checkbox>
                    <label class="checkbox--label">
                        Generate pathway independent mDAG file
                    </label>
                </div>
            </div>


        </div>
        <div class="section">
            <h2 class="section-header">Classification data</h2>
            <div class="fieldset-column">
                <div class="fieldset-row">

                    <file-uploader
                            class="row-item"
                            name="Groups"
                            helperText="Click in this area or drop a file to bind groups to this experiment"
                            (onFileLoaded)="onGroupFilesAdded($event)"
                    ></file-uploader>
                </div>
                <div class="fieldset-row">

                    <file-uploader
                            class="row-item"
                            name="Organism Classification"
                            helperText="Click in this area or drop a file to classify the organism"
                            (onFileLoaded)="onExperimentClassificationFilesAdded($event)"
                    ></file-uploader>
                </div>
            </div>
        </div>
        <button mdc-button raised
                style="position: fixed; bottom: 5%; right: 2%;"
                aria-label="Submit experiment"
                type="submit"
                [disabled]="!form.valid">
            Submit
        </button>
    </form>
</div>