<div class="modal-wrapper" [hidden]="!isOpen">
    <div class="modal-overlay" (click)="close($event)"></div>
    <div class="modal-content {{getModalTypeDependenStyles()}}">
        {{ getContent() }}
        <div class="buttons" *ngIf="showButtons()">
            <button class="button confirm" mdc-button raised>
                {{getConfirmText()}}
            </button>
            <button *ngIf="needsRejectButton()" class="button reject" mdc-button raised>
                {{getRejectText()}}
            </button>
        </div>
    </div>

</div>