.modal-wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 100;
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: black;
  opacity: 0.5;
}

.modal-content {
  position: absolute;
  background: white;

  &.viewer-modal {
    margin: 5vh 2vw;
    width: 96vw;
    height: 90vh;
  }

  &.text-modal {
    width: 50%;
    height: 30%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-70%);
  }

  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    & .button {

      margin: 10px 0;
      margin-right: 10px;

      &.reject {
        background-color: red;
      }
    }
  }
}