<div class="headed-container" tabindex="-1" #headedcontainer>
    <div class="head">
        <ng-content  select=".container-head"></ng-content>
    </div>

    <div class="contributors-container">
        <ng-content select=".container-content"></ng-content>
    </div>
</div>