@import "../../materialvars";

.drag-and-drop-zone {
  margin-top: 10px;
  border: 2px dashed $mdc-theme-secondary;
  position: relative;
  min-height: 110px;
  min-width: 300px;
}

.drag-and-drop-title {
  color: $mdc-theme-primary;
  font-size: 1.2rem;
  position: absolute;
  margin-top: -12px;
  left: 1%;
  background-color: white;
}

.help-text-area {
  z-index: -1; // Force to keep it on the background
  color: $mdc-theme-secondary;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.help-text {
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  font-size: 48px;
  width: 48px;
  height: auto;
}

.file-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.file-list-item {

  margin: 0 3px;
  padding: 2px;

  background-color: white;
  border: 1px solid $mdc-theme-secondary;

  border-radius: 8px;
}

// Traditional file uploader
.fileinput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}