<div class="drag-and-drop-zone" #dropzone (click)="onClick($event)">
  <!-- Drag and drop file selector -->
  <label class="drag-and-drop-title" *ngIf="name"> {{ name }}</label>
  <ul class="file-list">
    <li class="file-list-item" *ngFor="let file of getFiles()">
      {{ file.name }}
    </li>
  </ul>
  <div class="help-text-area">
    <div>
      <i class="material-icons icon center">add_circle_outlined</i>
    </div>
    <span class="help-text">
      {{ helperText }}
    </span>
  </div>

  <!-- Traditional file selector -->
  <input #fileButton type="file" name="files" class="fileinput" 
    (change)="onFileSelected($event)">
</div>