@import "../../materialvars";

.hidden {
  display: none;
}

.separate {
  padding-top: 5px;
}

.failed-style {
  border-color: red;
}

.remark-link {
  color: $mdc-theme-primary;

  &:hover {
    font-weight: 900;
  }
}

