<div *ngIf="!isSignedIn()">
    <a (click)="onSignInClicked()" class="login remark-link">
        Sign In
    </a>
    or
    <a id="signup" (click)="onSignUpClicked()" class="remark-link">
        Sign Up
    </a>
</div>

<div *ngIf="isSignedIn()">
    <a (click)="onSignOutClicked()">Sign out</a>
</div>

<div id="login-container" class="separate hidden" #loginContainer>
    <label for="user">Username</label>
    <input class="{{getFailureClasses()}}" type="text" id="user" name="user" [(ngModel)]="user">
    <!-- this password should be a generic component -->
    <label for="password">Password</label>
    <input class="{{getFailureClasses()}}" type="password" id="password" name="password" [(ngModel)]="password">
    <input type="submit" (click)="signIn()">
</div>

