<div class="storage-container">
    <div class="main-container" (click)="clearSelection()">
        <form class="signup-form" [formGroup]="form"
              (ngSubmit)="filterResults()">
            <div class="filters storage-common-styles">
                <h2 id="filters-header" class="section-header">Filters</h2>
                <div class="filtering-fields">
                    <mdc-text-field class="filter-field mdc-text-field-custom"
                                    placeholder="Username"
                                    formControlName="username">
                    </mdc-text-field>
                    <mdc-text-field class="filter-field mdc-text-field-custom"
                                    type="email"
                                    placeholder="E-mail"
                                    formControlName="email">
                    </mdc-text-field>
                    <mdc-text-field class="filter-field mdc-text-field-custom"
                                    placeholder="Group"
                                    formControlName="group">
                    </mdc-text-field>
                </div>
                <div style="display: flex;flex-direction: row;justify-content:
                flex-end">
                    <button class="filter-button" mdc-button primary
                            (click)="clearFilters()">
                        Clear
                    </button>
                    <button class="filter-button" mdc-button primary
                            type="submit">
                        Filter
                    </button>

                </div>
            </div>
        </form>
        <div class="list-zone">
            <div class="result-header-container">
                <h2 id="result-header" class="section-header">Results</h2>
            </div>
            <div class="results">
                <ul *ngFor="let user of userList; let i = index"
                    class="details-item">
                    <div class="details-item-wrapper"
                         (click)="selectUser($event, user, i)">
                        <li>{{ user.username }}</li>
                        <li>{{ user.email }}</li>
                        <li>
                            <button mdc-button class="remove-button"
                                    (click)="deleteUser(user)">
                                <mdc-icon>delete_forever</mdc-icon>
                                Remove
                            </button>
                        </li>

                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div id="details-container" *ngIf="getSelectedUser()">
        <!--
            This container could be a component to encapsulate
            all the logic of compounding the detail view
         -->
        <div class="detail-header">
            <div class="text-wrapper">
                <h2 class="details-header">
                    {{getSelectedUser().username}}
                </h2>
            </div>
            <div class="actions-container">
                <div class="content-body">
                    <ul class="actions">
                        <li class="action-item" *ngIf="!isSameUser()">
                            <i class="material-icons"
                               *ngIf="!getSelectedUser().isAdmin"
                               (click)="promoteUser()">upgrade
                            </i>
                            <i class="material-icons up-down"
                               *ngIf="getSelectedUser().isAdmin"
                               (click)="demoteUser()">upgrade
                            </i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="line-container">
            <div class="line"></div>
        </div>

        <div class="details-body">
            <div class="detail-container">
                <h2 class="content-title">Basic Information</h2>
                <div class="content-body">
                    <div class="row" style="display: flex;
                         flex-direction: row;">
                        <mdc-text-field class="first-element"
                                        label="Name"
                                        [(ngModel)]="selectedUser.username">
                        </mdc-text-field>
                        <mdc-text-field class="element"
                                        label="Last name"
                                        [(ngModel)]="selectedUser.lastname">
                        </mdc-text-field>
                    </div>

                    <mdc-text-field class="element" label="email"
                                    type="email" readonly="1"
                                    [ngModel]="selectedUser.email">
                    </mdc-text-field>

                </div>
            </div>

            <div class="detail-container">
                <h2 class="content-title">Groups</h2>
                <div class="content-body">
                    <ul class="undecorated-list horizontal-list">
                        <li>uno</li>
                    </ul>

                    <!-- TODO Maybe this should be a text element with
                          suggestions
                    -->
                    <file-uploader
                            name="Groups"
                            helperText="Add additional groups"
                    ></file-uploader>
                </div>
            </div>
        </div>
    </div>
</div>
