<div id="details-container">
    <form [formGroup]="groupForm">
        <div class="detail-header">
            <div class="text-wrapper">
                <h1 class="details-header">
                    {{getName()}}
                </h1>
            </div>
        </div>

        <div class="line-container">
            <div class="line"></div>
        </div>

        <div class="details-body">
            <div class="detail-container vertically-spaced">
                <div class="content-body">

                    <div class="row" style="display: flex;
                         flex-direction: row;">
                        <mdc-text-field class="first-element"
                                        label="Name"
                                        formControlName="name"
                                        readonly="{{!canEdit()}}"
                                        type="text">
                        </mdc-text-field>
                    </div>

                    <!-- The current mdc-textarea version does not support the
                    readonly mark -->
                    <mdc-textarea class="element"
                                  label="Description"
                                  formControlName="description"
                                  disabled="{{!canEdit()}}"
                    >
                    </mdc-textarea>

                </div>
            </div>

            <div class="detail-container">
                <div>
                    <h2 class="content-title">Owner</h2>
                    <ul class="undecorated-list horizontal-list">
                        <li>
                            {{getOwner().fullName}} - {{getOwner().email}}
                        </li>
                    </ul>
                </div>

                <div class="detail-header">
                    <h2 class="content-title">Members</h2>
                    <div class="actions-container">
                        <div class="content-body">
                            <ul class="actions">
                                <li class="action-item" aria-label="Add user"
                                    (click)="onAddUserClicked()">
                                    <i class="material-icons">person_add</i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="content-body">
                    <div class="row vertically-spaced" *ngIf="addUserClicked">
                        <form class="row" [formGroup]="addUserForm">
                            <mdc-text-field class="full-width-element"
                                            label="E-mail"
                                            type="email"
                                            formControlName="email"
                                            (keypress)="addUser($event)">
                            </mdc-text-field>
                        </form>
                    </div>

                    <ul class="undecorated-list horizontal-list"
                        *ngIf="hasMembers()">
                        <li *ngFor="let member of getMembers()">
                            {{member.fullName}} - {{member.email}}
                        </li>
                    </ul>
                    <div class="no-results" *ngIf="!hasMembers()">
                        <span> This groups does not have members</span>
                    </div>
                </div>
            </div>
            <div class="buttons-container huge-vertically-spaced">
                <button class="submit-button" mdc-button primary
                        [disabled]="!groupForm.valid"
                        (click)="saveGroup()">
                    {{creation ? "Create" : "Save" }}
                </button>
            </div>
        </div>
    </form>
</div>
