@import "../../materialvars";

#details-container {
  margin: 0 10px;
  flex: 1 0;

  & .detail-header {
    text-align: center;
  }

  & .content-title {
    margin-bottom: 0;
    margin-top: 35px;
  }

  & .content-body {
    display: flex;
    flex-direction: column;

    & .element {
      flex: 1;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    & .row {
      display: flex;
      flex-direction: row;

      & .first-element {
        @extend .element;
      }

      & .last-element {
        @extend .element;
      }
    }
  }
}

.row {
  margin: 0 10px;
  flex: 1 0;
  display: flex;
  flex-direction: row;
}

.full-width-element {
  flex: 1;
  margin-top: 5px;
  margin-bottom: 5px;
}


.text-wrapper {
  display: inline-flex;
  max-width: 76%;
}

.details-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


div.line-container {
  text-align: center;

  & div.line {
    border-bottom: solid 1px black;
    width: 90%;
    display: inline-block;
  }
}


// Date list styles
.details-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 79.5vh;
}

.undecorated-list {
  list-style: none;
  padding-inline-start: 0;

  &.horizontal-list {
    display: flex;
    flex-wrap: wrap;

    & li {
      display: inline;
      margin: 3px 5px;
      padding: 5px;
      background-color: $mdc-theme-secondary;
      border-radius: 4px;
    }

  }
}

.no-results {
  overflow-y: auto;
  display: flex;
  flex-direction: row;

  // Experimental values. Play with them in order to set up correctly
  height: 64.4vh;
  width: 99.8%;
  text-align: center;
  flex: auto;
  max-height: 100px;
  background-color: $mdc-theme-secondary-light;

  align-items: center;
  justify-content: center;


  & span {
    font-weight: bold;
    font-size: 1.5em;
  }
}

/** Action styles */
.actions-container {
  display: inline-flex;
  flex: 1;
  justify-content: flex-end;
  overflow: hidden;

  &:after {
    clear: both;
  }

  & ul {
    margin-block-end: 0;
  }
}

.actions {
  list-style-type: none;
  padding-inline-start: 10px;
  margin-block-start: 35px;
  display: inline-flex;

  & li {
    &:hover {
      cursor: pointer;
      user-select: none;

      &.action-item {
        & i {
          color: $mdc-theme-primary;
        }
      }

      &.action-item.delete {
        & i {
          // Redish color. Pure red color is not enough for AA web pages
          // when its background color is white.
          color: #DC0000;
        }
      }
    }

    &.action-item {
      margin: 0 5px;

      & i {
        font-size: 30px;
      }
    }
  }
}

.detail-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertically-spaced {
  margin-top: 10px;
  margin-bottom: 10px;
}

.huge-vertically-spaced {
  margin-top: 40px;
  margin-bottom: 40px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;

  & .submit-button {
    max-width: 100px;
  }
}
