@import "materialvars";
@import "~@angular-mdc/theme/material";

.common {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, serif;
}

.viewport-size {
  // Keep the content in the viewport and avoid showing scrolls due to
  // content going out of the page.
  max-height: 100vh;
  overflow-y: hidden;
}

body {
  margin: 0;
}

// Common headed container style
.headed-container {
  color: #333;
  border: solid 1px $mdc-theme-secondary;
  margin: 0 15px;
  border-radius: 5px;

  // This does not work when using ng-content
  //height: 100%;

  & .head{
    background-color: #f5f5f5;
    align-self: center;
    text-align: center;
    border-bottom: solid 1px #ddd;
    padding: 5px 0;
  }
}
