<app-modal-window></app-modal-window>
<div class="view-container">
    <app-header class="header"></app-header>
    <div class="main-view">
        <app-menu></app-menu>
        <div class="content-container">
            <div class="content">
                <!-- Calling this component makes the app route the request and show the needed info -->
              <router-outlet></router-outlet>
            </div>
            <app-footer class="footer"></app-footer>
        </div>
    </div>
    <app-notifications></app-notifications>
</div>
