/**
There are 4 levels of deepness right now:
  5: Main page content
  19: Right menu
  20: Header
  40: Overlays
 */

app-root {
  font-size: 18px;
}

// This is used to keep the footer at the end of the content or
// at least at the end of the viewport
.content {
  //padding-top: 1vh;
  overflow-y: hidden;
  // This is the main source, it should hold almost all the viewport
  flex: 30 0;
  z-index: 5;
}


.view-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  flex-shrink: 0;
  z-index: 20;
}

.footer {
  flex-shrink: 0;
  margin-bottom: 7px;
}

.content-view-size {
  flex: 1 0;
}

.main-view {
  flex: 1 0;
  display: flex;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1 0;
}