<div id="notifications" class="messages-container">
    <div class="message {{message['type']}}" *ngFor="let message of
        messages" (dblclick)="removeMessage(message)">
        <span>{{ message['message'] }}</span>
    </div>
    <div class="modal--overlay"></div>
    <div class="modal--message"></div>
</div>
