@import "../../materialvars";

.messages-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999999999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  max-width: 50%;
  width: 50%;
}

.message {
  padding: 8px;
  margin: 3px 0;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;

  &.warning {
    // Yellowish color
    background-color: #fffeda;
    border-color: #ecd213;
  }

  &.error {
    background-color: #ffe2e2;
    border-color: red;
  }

  &.info {
    background-color: white;
    border-color: $mdc-theme-primary;
  }
}