<div class="multiselect-filter-container multiselect-filter-container-multi">
    <div class="multiselect-wrapper">
        <label for="user-input"></label>
        <ul class="chosen-choices">
            <li *ngFor="let element of selectedData" class="search-choice">
                <span>{{ element.display }}</span>
                <i class="material-icons mdc-list-item__graphic search-choice-close" aria-hidden="true"
                   (click)="removeElement($event, element)">
                    close
                </i>
            </li>
        </ul>

        <label>
            <input class="user-input" type="text" name="user-input"
                   (keyup)="filterResults()" [(ngModel)]="filterValue">
        </label>
    </div>
    <div class="options-drop">
        <ul class="chosen-results">
            <!-- Dynamically filled -->
            <li *ngFor="let element of filteredData" [ngClass]="{
                'active-result': !alreadySelected(element)
            }" (click)="addElement($event, element)">
                {{ element.display }}
            </li>

        </ul>
    </div>
</div>
