$border-color: black;
$highlight-bg-color: #005db9;

$chosen-value-bg-color: #eeeeee;

.user-input {
  width: 100%;
  border: solid 0 black;
  line-height: 1.2rem;
  outline: none;
}

.multiselect-filter-container {
  ul {
    margin: 0;
  }

  li {
    list-style: none;
  }

  //&.multiselect-filter-container-active.chosen-with-drop {
  //  .chosen-single {
  //    border-radius: 4px;
  //    border-bottom-left-radius: 0;
  //    border-bottom-right-radius: 0;
  //
  //    div {
  //      b {
  //        background-repeat: no-repeat;
  //        background-position: 0px center;
  //      }
  //    }
  //  }
  //}

  .multiselect-wrapper {
      border-radius: 4px;
      border: 1px solid $border-color;
  }

  &-multi {
    position: relative;

    .chosen-choices {
      border-radius: 4px;

      //border: 1px solid $border-color;
      box-shadow: none;
      min-height: 2.5rem;
      display: flex;
      flex-flow: wrap row;

      padding: 0;

      li {
        &.search-field {
          input[type="text"] {
            font-size: 1.3rem;
            height: 2.5rem;
            min-height: initial;
          }
        }

        &.search-choice {
          color: black;
          position: relative;
          background: $chosen-value-bg-color;
          border: solid 1px $border-color;
          border-radius: 3px;

          padding: 1px 17px 1px 3px;
          margin: 2px 2px;
          height: 100%;

          span {
            padding-right: 5px;
          }

          .search-choice-close {
            // Customize the material design icon
            position: absolute;
            margin: 0;
            width: auto;
            height: auto;
            font-size: 15px;
            color: black;

            &:hover {
              color: white;
              background-color: #333333;
              border-radius: 9px;
              cursor: default;
            }
          }
        }
      }
    }
  }

  .options-drop {
    display: none;
    position: absolute;
    width: 100%;
    background-color: white;

    border: 1px solid $border-color;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    &:hover {
      display: block;
    }
  }

  &:focus-within  .options-drop {
    display: block;
  }

  .chosen-results {
    padding: 0;
    list-style: none;
    color: #565656;
    cursor: default;

    li.active-result {
      color: black;

      &:hover {
        color: white;
        background-color: $highlight-bg-color;
        cursor: pointer;
      }
    }
  }
}