.form-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.signup-title {
  flex: 1;
}

.signup-form {
  display: flex;
  flex-direction: column;
  flex: 8;
}

.button-row {
  justify-content: center;
  display: flex;
  flex-direction: row;

  & > button {
    margin: 0 10px;
  }
}

.reset-button {
  color: red;
  border-color: red;
}

.form-field {
  flex: 1;
  margin: 8px 5px;
}

.vertically-spaced {
  margin-top: 20px;
  margin-bottom: 20px;
}