<div class="form-container">
    <h1 class="signup-title">¡Sign up to use the app!</h1>

    <!-- TODO adapt style for this error message -->
    <div id="error-container">
        <ul id="error-messages"></ul>
    </div>

    <form class="signup-form" [formGroup]="form" (ngSubmit)="registerUser()">
        <div class="row vertically-spaced">
            <mdc-text-field class="form-field" label="Username"
                            formControlName="username">
            </mdc-text-field>
            <mdc-text-field class="form-field" type="password"
                            formControlName="password"
                            label="Password">
            </mdc-text-field>
        </div>

        <!-- User info -->
        <div class="vertically-spaced">
            <div class="row">
                <mdc-text-field class="form-field" label="Name"
                                formControlName="name">
                </mdc-text-field>
                <mdc-text-field class="form-field" label="Surname"
                                formControlName="surname">
                </mdc-text-field>
            </div>
            <div class="row">
                <!-- This should be somehow validated. Maybe e-mail confirmation -->
                <mdc-text-field class="form-field" type="email"
                                formControlName="email"
                                label="E-mail">
                </mdc-text-field>
            </div>

        </div>

        <div class="form-field button-row">
            <button mdc-button outlined class="reset-button"
                    type="button"
                    (click)="clearForm()">
                Reset
            </button>
            <button type="submit" mdc-button raised [disabled]="!form.valid">
                Submit
            </button>

        </div>

    </form>

</div>
