<div class="content-container">

    <app-headedcontainer>
        <span class="container-head">
            Paper summary
        </span>


        <p class="container-content content">
            In this paper we propose a new methodology for the analysis of metabolic networks. We use the notion of
            strongly connected components of a graph, called in this context metabolic building blocks (MBB). Every
            strongly connected component is contracted to a single node in such a way that the resulting graph is a
            directed acyclic graph, called a m-DAG, with a considerably reduced number of nodes.
            <br>
            The property of being a directed acyclic graph brings out a background graph topology that reveals the
            connectivity of the metabolic network, as well as bridges, isolated nodes and cut nodes. Altogether, it
            becomes a key information for the discovery of functional metabolic relations. Moreover, our methodology
            is general enough to work on any database.
            <br>
            We can measure the similarity of the different m-DAG and then we can build a tree of life for a given
            metabolic pathway.
        </p>
    </app-headedcontainer>


    <app-headedcontainer>
        <span class="container-head">
            Authors information
        </span>

        <div class="container-content">
            <a href="http://bioinfo.uib.es/" class="bioinfo-logo">
                <img src="static/img/bioinfo.png">
            </a>
            <app-undecoratedlist [listElements]="contributors"></app-undecoratedlist>
        </div>
    </app-headedcontainer>
</div>
