.content-container {
  display: flex;
  margin-top: 10px;
}

.main-text-container {
  min-width: 50%;
  width: 87%;
  max-width: 87%;

}

.content {
  padding: 0 10px;
}

.bioinfo-logo {
  padding-top: 16px;
  display: block;
}