.head {
  color: #333;
  margin: 0 5px;
  border-radius: 5px;

  background-color: #f5f5f5;
  align-self: center;
  text-align: left;
  border: solid 1px #ddd;
  padding: 5px;
  &:hover {
    background-color: white;
  }
}
