<div class="experiment-selection-wizard-container">
    <div id="breadcrumbs">
        <span class="breadcrumb-level">Experiment creation</span>

        <div class="breadcrumb-level"
             *ngFor="let breadcrumb of getVisibleBreadCrumbs()">
            <span class="breadcrumb-separator"> > </span>
            <span class="breadcrumb-level">{{breadcrumb}}</span>
        </div>
    </div>
    <div id="main-area" class="main-content-container scrollable-container">
        <!-- Step 1: Experiment type selection -->
        <div id="step-1" class="experiment-selection">
            <button mdc-button
                    *ngFor="let experimentType of experimentTypes"
                    [attr.data-index]="experimentType.type"
                    class="experiment-selection-button"
                    (click)="onClick($event)">
                <span>
                  {{experimentType.name}}
                </span>
            </button>

        </div>
        <!-- Step 2: Data fulfilling -->
        <div id="step-2" class="experiment-form scrollable-form">
            <app-organism-pathway-calculation
                [hidden]="!isExperimentTypeSelected(1)">
            </app-organism-pathway-calculation>
            <app-wholeorganimsexperimentform
                    (onExperimentCreated)="onExperimentCreated()"
                    [hidden]="!isExperimentTypeSelected(2)">
            </app-wholeorganimsexperimentform>
            <app-organism-comparison-experiment
                    (onExperimentCreated)="onExperimentCreated()"
                    [hidden]="!isExperimentTypeSelected(3)">
            </app-organism-comparison-experiment>
            <app-experiment-comparison
                    (onExperimentCreated)="onExperimentCreated()"
                    [hidden]="!isExperimentTypeSelected(4)">
            </app-experiment-comparison>
            <app-organism-metabolism-comparison
                    (onExperimentCreated)="onExperimentCreated()"
                    [hidden]="!isExperimentTypeSelected(5)">
            </app-organism-metabolism-comparison>
        </div>
    </div>
</div>
