@import "../../materialvars";

.experiment-selection-wizard-container {
  display: flex;
  flex-direction: column;
}

#breadcrumbs {
  flex: 1 0;
  background-color: rgba($mdc-theme-secondary, 0.3);
  & span{
    cursor: default;
  }
}

.breadcrumb-level {
  padding: 2px 6px;
  display: inline-block;
}

.main-content-container {
  position: relative;
  flex: 2 0;
  display: flex;
  flex-direction: row;
}

#step-1 {
  flex: 1 0;
  //display: flex;
  //flex-direction: column;
  padding: 15px 2px 0 2px;
}

#step-2 {
  flex: 7 0;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 86.4vh;
}

.scrollable-container {
  overflow-y: auto;
}

.experiment-selection {
  justify-content: center;
  margin: 0 10px;
}

.experiment-selection-selected {
  background-color: rgba($mdc-theme-primary, 0.12);
  opacity: 1;
}

.experiment-selection-button {
  display:block;
  height: auto;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;

  & span {
    margin: 10px 0;
  }
}

.fieldset-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.fieldset-column {
  display: flex;
  flex-direction: column;
}


.row-item {
  flex: 1 0;
  margin: 5px 10px;
}

.section {
  margin-top: 45px;
}

.first-section {
  @extend .section;
  margin-top: 30px;
}

.section-header {
  position: relative;

  height: auto;
  border-bottom: solid 1px #dddddd;
}

file-uploader {
  margin-bottom: 15px;
}

.checkbox--label {
  display: inline-block;
  padding: 11px 0;
}