@import "../../materialvars";

.fieldset-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.fieldset-column {
  display: flex;
  flex-direction: column;
}


.row-item {
  flex: 1 0;
  margin: 5px 10px;
}

.section {
  margin-top: 45px;
}

.first-section {
  @extend .section;
  margin-top: 30px;
}

.section-header {
  position: relative;

  height: auto;
  border-bottom: solid 1px #dddddd;
}

file-uploader {
  margin-bottom: 15px;
}

.checkbox--label {
  display: inline-block;
  padding: 11px 0;
}