<div class="group-container">
    <div class="main-container" (click)="clearSelection()">
        <form class="signup-form" [formGroup]="filtersForm"
              (ngSubmit)="filterResults()">
            <div class="filters group-common-styles">
                <h2 id="filters-header" class="section-header">Filters</h2>
                <div class="filtering-fields">
                    <mdc-text-field class="filter-field"
                                    placeholder="Group name"
                                    formControlName="groupName">
                    </mdc-text-field>
                    <mdc-select class="filter-field"
                                placeholder="Group owner"
                                formControlName="groupOwner">
                        <mdc-menu class="filter-field">
                            <mdc-list class="filter-field">
                                <mdc-list-item value="0">No</mdc-list-item>
                                <mdc-list-item value="1">Yes</mdc-list-item>
                            </mdc-list>
                        </mdc-menu>
                    </mdc-select>

                </div>
                <div style="display: flex;flex-direction: row;justify-content:
                flex-end">
                    <button class="filter-button" mdc-button primary
                            (click)="clearFilters()">
                        Clear
                    </button>
                    <button class="filter-button" mdc-button primary
                            type="submit">
                        Filter
                    </button>

                </div>
            </div>
        </form>
        <div class="list-zone">
            <div class="result-header-container">
                <h2 id="result-header" class="section-header">Groups</h2>
                <button mdc-fab class="add-button"
                        aria-label="Create group"
                        (click)="createGroup($event)">
                    <i class="material-icons icon">add</i>
                </button>
            </div>
            <div class="results" *ngIf="hasResults()">
                <ul *ngFor="let group of getGroups(); let i = index"
                    class="details-item">
                    <div class="details-item-wrapper"
                         (click)="selectGroup($event, group, i)">
                        <li>{{ group.name }}</li>
                    </div>
                </ul>
            </div>
            <div class="no-results" *ngIf="!hasResults()">
                <span> No results</span>
            </div>
        </div>
    </div>

    <div id="details-container" *ngIf="shouldShowDetailsPane()">
        <app-group-details
                (onGroupCreated)="filterResults()"
                (onGroupUpdated)="filterResults()"
                [group]="getSelectedGroup()">
        </app-group-details>
    </div>
</div>
