@import "../../materialvars";

.group-item {
  margin: 10px 0;
  display: block;

}

.group-container {
  display: flex;
  flex-direction: row;

  & .results {
    overflow-y: auto;
    display: flex;
    flex-direction: row;

    // Experimental values. Play with them in order to set up correctly
    height: 64.4vh;
    max-height: 64.4vh;
    width: 99.8%;
    padding: 6px;
    flex-wrap: wrap;
  }

  & .main-container {
    flex: 4 0;
  }

  & #details-container {
    max-width: 32%;
    min-width: 32%;
    margin: 0 10px;
    flex: 1 0;

    & .detail-header {
      text-align: center;
    }

    & .content-title {
      margin-bottom: 0;
      margin-top: 35px;
    }

    & .content-body {
      display: flex;
      flex-direction: column;

      & .element {
        flex: 1;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      & .row {
        display: flex;
        flex-direction: row;

        & .first-element {
          @extend .element;
          margin-right: 10px;
        }

        & .last-element {
          @extend .element;
          margin-left: 10px;
        }
      }
    }
  }

  & .group-common-styles {
    margin: 1px 10px;

    & .filters {
      margin-bottom: 10px;
    }
  }
}


.actions {
  list-style-type: none;
  padding-inline-start: 10px;
  display: inline-flex;

  & li {
    &:hover {
      text-shadow: 0 0 1px black;
      cursor: pointer;
      user-select: none;
    }

    &.action-item {
      margin: 0 5px;

      & i {
        font-size: 20px;
      }
    }
  }
}

.float-right {
  float: right;
}

.actions-container {
  display: inline-flex;
  overflow: hidden;

  &:after {
    clear: both;
  }

  & ul {
    margin-block-end: 0;
  }
}

.details-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


div.line-container {
  text-align: center;

  & div.line {
    border-bottom: solid 1px black;
    width: 90%;
    display: inline-block;
  }
}


// Date list styles
.content-body-list {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 0;
  margin-bottom: 5px;
}


.details-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 79.5vh;
}


.list-zone {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 0px 10px;
}

.section-header {
  position: relative;

  height: auto;
  border-bottom: solid 1px #dddddd;
}

$add-button-size: 40px;
.result-header-container {
  position: relative;

  & .add-button {
    position: absolute;
    top: 5px;
    right: 0;
    margin-right: 35px;
    width: $add-button-size;
    height: $add-button-size;
    background-color: $mdc-theme-primary;

    & .icon {
      color: white;
    }
  }
}

.undecorated-list {
  list-style: none;
  padding-inline-start: 0;

  &.horizontal-list {
    display: flex;
    flex-wrap: wrap;

    & li {
      display: inline;
      margin: 3px 5px;
      padding: 5px;
      background-color: $mdc-theme-secondary;
      border-radius: 4px;
    }

  }
}

.wrap-content {
  display: flex;
  flex-wrap: wrap;

}

// Filter styles

.filtering-fields {
  display: flex;
  flex-direction: row;
}

.filter-field {
  flex: 1;
  margin: 2px 5px;
}


.filter-button {
  flex: 0;
  margin: 5px 5px;
}


// Button styles
.remove-button {
  color: red;

  &:hover {
    color: white;
    background-color: red;
    box-shadow: lightgray -1px 1px 3px;
  }
}


.details-item {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  flex: 30;

  & .details-item-wrapper {
    padding: 30px;

    &:hover, &.active {
      box-shadow: rgba($mdc-theme-primary, 0.2) 0px 0px 5px;
    }
  }

}

.no-results {
  overflow-y: auto;
  display: flex;
  flex-direction: row;

  // Experimental values. Play with them in order to set up correctly
  height: 64.4vh;
  width: 99.8%;
  text-align: center;
  flex: auto;
  max-height: 100px;
  background-color: $mdc-theme-secondary-light;

  align-items: center;
  justify-content: center;


  & span {
    font-weight: bold;
    font-size: 1.5em;
  }
}